<div class="center-content">
    <div class="card ">
        <div class="card-header text-center">
            Create Todo
        </div>
        <div class="card-body">
            <form action="" class="form">
                <div>
                    <label for="">Title</label>
                    <input id="title" placeholder="Please enter an title" class="text-input-control" />
                </div>
                <div>
                    <label for="">Description</label>
                    <input id="description" placeholder="Please enter an description" class="text-input-control" />
                </div>
                <div>
                    <label for="">Author</label>
                    <input id="author" placeholder="Please enter a author" class="text-input-control" />
                </div>
                <div>
                    <button type="submit" id="create-todo" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>