<div class="center-content">
    <div class="card ">
        <div class="card-header text-center">
            Edit Todo
        </div>
        <div class="card-body">
            <form action="" class="form">
                <div>
                    <label for="">Title</label>
                    <input id="title" value="{{todo.title}}" placeholder="Please enter an title" class="text-input-control" />
                </div>
                <div>
                    <label for="">Description</label>
                    <input id="description" value="{{todo.description}}" placeholder="Please enter an description"
                        class="text-input-control" />
                </div>
                <div>
                    <label for="">Author</label>
                    <input id="author" value="{{todo.author}}" placeholder="Please enter a author" class="text-input-control" />
                </div>
                <div>
                    <button type="submit" id="edit-todo" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>