<div class="container">
    <div>
        <button class="btn btn-primary float-right" id="create-redirect-todo">Create</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <td></td>
                <td>#</td>
                <td>title</td>
                <td>description</td>
                <td>author</td>
                <td colspan="2">actions</td>
            </tr>
        </thead>
        <tbody id="todo-list">

        </tbody>
    </table>
</div>